body {
  background-color: #131720;
  font-family: sans-serif;
}

#login{
  color:white;
  text-align: center;
}

#login-form{
  text-align: center;
}

#section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #1e1e1e; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}


.thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 2px solid #fff; 
}


.card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #fff;
}


.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px;
  background-color: #131720; 
  color: white;
  border-bottom: 2px solid #2c2c2c;
}

.website-name {
  font-size: 20px;
  font-weight: bold;
  color: #007bff; 
  margin: 0;
}

#main{
  font-size: xx-large;
}

.right-container {
  display: flex;
  align-items: center;
  gap: 10px; 
}


#search-bar {
  padding: 8px;
  border: 2px solid #007bff; 
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  color: #007bff; 
  background-color: #131720; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#search-bar:focus {
  border-color: #0056b3; 
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}


#search-button {
  padding: 8px 12px;
  background-color: #131720; 
  color: #007bff; 
  border: 2px solid #007bff; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#search-button:hover {
  background-color: #007bff;
  color: white; 
}

#logout-button {
  padding: 8px 12px;
  background-color: #131720; 
  color: #007bff; 
  border: 2px solid #007bff; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#logout-button:hover {
  background-color: #007bff;
  color: white; 
}


.section-divider {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2); 
  margin: 20px 0; 
}


.watchlist-title {
  text-align: center; 
  font-size: 24px;
  color: white;
  margin-bottom: 10px; 
}


.add-button {
  display: block; 
  margin: 0 auto 20px; 
  font-size: 24px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1); 
  border: 2px solid rgba(255, 255, 255, 0.2); 
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  cursor: pointer;
  transition: all 0.3s ease; 
}

.add-button:hover {
  background-color: rgba(255, 255, 255, 0.3); 
  border-color: white; 
}


.watchlist {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.watchlist li {
  color: white;
  margin: 5px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.placeholder-message {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-top: 20px;
}
